* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: lightgreen; */
  font-family: sans-serif;
}

/* Navbar styles */
.logo {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  background-color: #b5b5b5;
  width: 100%;
  padding: 20px;
}
.list-all {
  display: flex;
  gap: 30px;
}
ul > li {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
ul a:hover {
  color: #f52c2c;
}
.bg-primary {
  color: #f52c2c;
}
.banner-title,
.banner-description {
  color: #ffffff;
}
.banner-title {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.2;
}
.banner-description {
  font-size: 22px;
  margin: 25px 0px;
}

/* banner style */
.banner-container {
  height: 100vh;
  background-image: url('./asset/image/background.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 15px;
  padding: 18px 29px;
  border: none;
  border-radius: 2px;
}
.discover {
  color: white;
  background-color: #f52c2c;
  margin-right: 5px;
}
.hire {
  margin-left: 5px;
}

.service-container {
  height: 100vh;
  background-image: url('./asset/image/footer-bg.png'),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 120px;
}
.img {
  width: 50%;
  margin-top: 30px;
}

.box {
  text-align: center;
  height: 300px;
  width: 300px;
  padding: 50px;
  color: black;
  background-color: white;
  border-radius: 5px;
}
.box-title {
  font-size: 18px;
  text-align: center;
}

.service-title {
  font-size: 40px;
  margin-bottom: 15px;
}
.service-description {
  width: 50%;
  margin-bottom: 15px;
}
.o-list {
  margin-left: 20px;
}
.first-two-box {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.second-two-box {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.author-container {
  display: flex;
  align-items: center;
  /* gap: 80px; */
  margin-top: 20px;
}
.author {
  height: 90px;
  width: 90px;
  border-radius: 45px;
}
.author-part {
  display: flex;
  align-items: center;
  padding-right: 80px;
  border-right: 2px solid #f52c2c;
  gap: 15px;
}
.btn-div {
  margin-left: 20px;
  border-radius: 20px;
}
.more-btn {
  color: #f52c2c;
  border-radius: 30px;
  font-size: 16px;
}
h5 {
  font-size: 18px;
}
.ser {
  margin-bottom: 20px;
}

#icon {
  width: 100px;
}
.appointment-container {
  color: white;
  background-color: #f52c2c;
  padding: 30px 160px;
  width: 76%;
  margin: -35px auto;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
}
.apn-btn {
  color: black;
  padding: 15px 70px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appointment-text {
  border-left: 2px solid grey;
  padding-left: 20px;
}
h6 {
  font-size: 20px;
}
.blog-title {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}
.blog-description {
  text-align: center;
  font-size: 19px;
  margin-top: 8px;
  margin-bottom: 60px;
}
.card-img {
  width: 100%;
  border-radius: 6px;
}

.card {
  height: 400px;
  width: 320px;
  border-radius: 6px;
  box-shadow: 2px 4px 17px rgb(184, 183, 183);
  margin: 20px;
  background-color: rgb(237, 236, 236);
}
.card-title {
  /* text-align: center; */
  padding: 8px 7px;
  font-size: 20px;
}
.card-description {
  padding: 2px 7px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.blog-section {
  width: 80%;
  margin: auto;
}
.footer-container {
  height: 70vh;
  background-image: url('./asset/image/footer-bg.png'),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  gap: 80px;
  /* justify-content: space-evenly; */
  padding: 20px 120px;
}

footer li {
  list-style: none;
  padding: 6px 0px;
  font-size: 14px;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-description {
  padding: 10px 0 18px 0;
}
.useful-title {
  padding-bottom: 25px;
  font-size: 19px;
}
