* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: lightgreen; */
  font-family: sans-serif;
}

/* Navbar styles */
.logo {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  background-color: #b5b5b5;
  width: 100%;
  padding: 20px;
}
.list-all {
  display: flex;
  gap: 30px;
}
ul > li {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
ul a:hover {
  color: red;
}
.bg-primary {
  color: red;
}
.banner-title,
.banner-description {
  color: #ffffff;
}
.banner-title {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.2;
}
.banner-description {
  font-size: 22px;
  margin: 25px 0px;
}

/* banner style */
.banner-container {
  height: 100vh;
  background-image: url('./asset/image/background.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 15px;
  padding: 18px 29px;
  border: none;
  border-radius: 2px;
}
.discover {
  color: white;
  background-color: red;
  margin-right: 5px;
}
.hire {
  margin-left: 5px;
}

.service-container {
  height: 100vh;
  background-image: url('./asset/image/footer-bg.png'),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 120px;
}
.img {
  width: 50%;
  margin-top: 30px;
}

.box {
  text-align: center;
  height: 300px;
  width: 300px;
  padding: 50px;
  color: black;
  background-color: white;
  border-radius: 5px;
}
.box-title {
  font-size: 18px;
  text-align: center;
}

.service-title {
  font-size: 40px;
  margin-bottom: 15px;
}
.service-description {
  width: 50%;
  margin-bottom: 15px;
}
.o-list {
  margin-left: 20px;
}
.first-two-box {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.second-two-box {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.author-container {
  display: flex;
  align-items: center;
  /* gap: 80px; */
  margin-top: 20px;
}
.author {
  height: 90px;
  width: 90px;
  border-radius: 45px;
}
.author-part {
  display: flex;
  align-items: center;
  padding-right: 80px;
  border-right: 2px solid red;
  gap: 15px;
}
.btn-div {
  margin-left: 20px;
  border-radius: 20px;
}
.more-btn {
  color: red;
  border-radius: 30px;
  font-size: 16px;
}
h5 {
  font-size: 18px;
}
.ser {
  margin-bottom: 20px;
}
